/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-Nov-2018, 18:08:06
    Author     : Dejan
*/
/** general start**/
html {
    font-size: 15px;
}
main {
    font-family: 'Lato', sans-serif;
}
/**custom button start**/
a.custom-button {
    width: 170px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    text-decoration: none;
    position: absolute;
    top: 80%;
    color: #fff;
    background: transparent;
    letter-spacing: 1px;
    transform: translate(-50%, -50%)
}

a svg,
a svg rect {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    fill: transparent;
}

a svg rect {
    stroke: #15A4FA;
    stroke-width: 4px;
    transition: 1s;
    stroke-dasharray: 500,500;
    stroke-dashoffset: 0;
    
}

a:hover svg rect {
    stroke-dashoffset: 253;
    stroke-dasharray: 100, 400;
    stroke: #fff;
}
/**custom button end**/
/** general end **/
/** header start **/
header .navbar-brand .logo-text {
    font-family: 'Lato', sans-serif;
    color: #2D3950;
    font-size: 1.6rem;
}
button.navbar-toggler:focus {
    outline: 1px dotted;
    outline: 5px auto;
    color: rgba(0, 0, 0, 0.1) !important;
}

.navbar .navbar-nav .nav-item {
    border-bottom: 1px solid #999999;
}
.navbar .navbar-nav .nav-item:last-of-type {
    border-bottom: none;
}
.navbar .navbar-nav .nav-item .custom-active {
    background-color: #fff;
}
/** header end **/
/** hero section start **/
.hero-section {
    background-position: center;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 50px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #15A4FA;
    margin: 1em 0;
    padding: 0; 
    margin: 0px auto;
    width: 75%;
}
/** hero section end **/
/**simple section start**/
.simple-content {
    font-size: 1rem;
}
/**simple section end**/


